<div class="terpene-details">
    <div class="heading">
      <span>Detailed domain annotation</span> {{ help_tooltip(tooltip, "terpene-body") }}
    </div>
    {% for protocluster in protoclusters %}
      {% if protoclusters | length > 1 %}
        <span class="cluster-header"> Terpene cluster {{ loop.index }}: {{ protocluster["cluster"].location.start }}-{{ protocluster["cluster"].location.end }} </span><br>
      {% endif %}
      <div class="protocluster-pred">
        {% if protocluster["prediction"].products %}
        <span class="section-header"> Product predictions: </span><br>
          <div class="products">
            <table class="product-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Class</th>
                  <th>Subclass</th>
                  <th>Compound name</th>
                  <th>Chain length</th>
                  <th>Initial cyclisations</th>
                  <th>Functional groups</th>
                </tr>
              </thead>
              <tbody>
                {% for product in protocluster["prediction"].products %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ product.biosynthetic_class }}</td>
                  <td>{{ product.get_subclass() }} </td>
                  <td>{{ product.get_compound_name() }}</td>
                  <td>C{{ product.chain_length }}</td>
                  <td>{{ product.get_cyclisations_description() }}</td>
                  <td>{{ product.functional_groups | join(", ") }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <span> No product predictions </span><br>
          <div class="products"></div>
        {% endif %}
        {% if protocluster["prediction"].cds_predictions %}
        <span class="section-header"> Domains: </span>
          <dl class="domains">
            {% for cds, domain_preds in protocluster["prediction"].cds_predictions.items() %}
              <strong><span class="serif">{{ cds }}</span></strong>: {{ format_domain_types(domain_preds) }}
              {{collapser_start(target=cds, level="cds")}}
              {% for pred in domain_preds %}
                <dd><strong>({{pred.start}}-{{pred.end}})</strong>: {{ get_domain_description(pred) }}
                {{collapser_start(cds, level="cds")}}
                <div class="domain-details">
                  <span> Subtype:</span> {{ format_subtype(pred) }}<br>
                  {% if pred.reactions %}
                  <dl class="reactions">
                  <dt> Reactions:</dt>
                  {{ format_reactions(pred) }}
                  </dl>
                  {% endif %}
                </div>
                {{collapser_end()}}
                </dd>
              {% endfor %}
              {{collapser_end()}}
              <br>
            {% endfor %}
          </dl>
        {% endif %}
      </div>
    {% endfor %}
</div>